<h1>All Events</h1>

<% @events.each do |event|%>
  <div class="event_card">
    <p> Event Name: <%= event.event_name %></p>
    <p> Event Date: <%= event.date %></p>
    <p> Created By: <%= event.creator.name%></p><br>
  </div>
<% end %>
