<h1>All Events</h1>

<% @events.each do |event|%>
  <div class="event_card">
    <p> Event Name: <%= event.title %></p>
    <p> Event Date: <%= event.date %></p>
    <p> Created By: <%= event.creator.name%></p><br>
    <%= button_to "Details", "/events/#{event.id}", method: :get %>
  </div>
<% end %>
